#sosDetails {
    .sos-form-label {
        margin-top: 0px;
    }

   .sos-client {
       margin-left: 15px;
   }
    .sosForm-action-buttons {
       padding-left: 15px;
    }

    .discard-buttons {
        float:right;
        margin-right:15px;
    }
   .sosDetails-group {
       margin-top: 20px;
   }
   .sos-remarks {
       width: 65%;
   }

   .real-sos-form {
       margin-top: 30px;
   }
   

   .sos-form-identifier {
       display:inline-block;
       margin-right: 10px;
       
   }

   .sos-form-selector {
       display: inline-block;
   }


   .orders-table {
       margin-top: 10px;

       .orders-quantity {
           margin-left: 5px;
           margin-right: 5px;
       }
   }
   small {
        color:red;
    }

   .sos-data {
       margin-bottom: 15px;
   }

}