<div id="sosForm">
    <div>
        <h3 class="sos-form-label">Add/Edit Sales Order Slip</h3>
    </div>    
    <div class="sosForm-action-buttons">
        <a class="btn btn-default" href="{{returnUrl}}">Cancel</a>
        <button class="btn btn-success" type="submit" (click)="saveSos()" [disabled]="selectedClient.Id == null || productsView.length == 0">Save</button>
    </div>
    <div class="sosForm-group">
        <form #sosForm="ngForm" class="real-sos-form" novalidate>
         
            <div class="form-group col-md-6 col-lg-6">
                <div class="sos-form-identifier">
                    Client:
                </div>
                <div class="sos-form-selector sos-client">
                    <select [(ngModel)]="selectedClient" name="clientSelect" class="form-control">
                        <option *ngFor="let client of resultClients.ResultList" [ngValue]="client">
                            {{client.Name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-6 col-lg-6">
                <div class="sos-form-identifier">
                    Date:
                </div>
                <div class="sos-form-selector">
                    <input type="date" name="date" class="form-control" placeholder="Date" [(ngModel)]="sosDate" />
                </div>
            </div>
            <div class="form-group col-md-6 col-lg-6">
                <div class="sos-form-identifier">
                    Address:
                </div>
                <div class="sos-form-selector">
                    {{selectedClient.Office_Address}}
                </div>
            </div>
            <div class="form-group col-md-6 col-lg-6">
                <div class="sos-form-identifier">
                    Pickup:
                </div>
                <div class="sos-form-selector">
                    <input type="checkbox" name="pickup" [(ngModel)]="pickup" />
                </div>
            </div>
            <div class="form-group col-md-6 col-lg-6">
                <div class="sos-form-identifier">
                    Remarks:
                </div>
                <div class="sos-form-selector sos-remarks">
                    <input type="text" name="remarks" class="form-control" placeholder="Remarks" [(ngModel)]="remarks" />
                </div>
            </div>
            <div class="form-group col-md-6 col-lg-6">
                &nbsp;
            </div>
            <div class="col-md-12 col-lg-12">
                <div class="new-product-button">
                    <button class="btn btn-primary" [disabled]="selectedClient.Id == null" data-toggle="modal" data-target="#myModal" (click)="clearStandardProductFields()">+ Standard Product</button>
                </div>

                <div class="new-product-button">
                    <button class="btn btn-primary" [disabled]="selectedClient.Id == null"  data-toggle="modal" data-target="#myModalCustom" (click)="clearCustomProductFields()">+ Custom Product</button>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 orders-table">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Quantity</th>
                            <th>Unit</th>
                            <th>Item Description</th>
                            <th>Unit Price</th>
                            <th>Total Price</th>
                            <th>Edit</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of productsView">
                            <td>
                                <!--<div class="inline-block">
                                    <button class="btn btn-sm btn-success" (click)="subtractQuantity(product.Id, product.Custom)" [disabled]="product.Quantity == 1"><i class="fa fa-minus" aria-hidden="true"></i></button>
                                </div>-->
                                <div *ngIf="editForm[product.Id] == false">
                                    {{product.Quantity}}
                                </div>
                                <div *ngIf="editForm[product.Id] == true">
                                    <input type="number" name="productQuantity-{{product.Id}}" class="form-control" [(ngModel)]="editFormQuantity[product.Id]" />
                                </div>
                                <!--<div class="inline-block">
                                    <button class="btn btn-sm btn-success" (click)="addQuantity(product.Id, product.Custom)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                </div>-->

                            </td>
                            <td>{{product.Unit}}</td>
                            <td>
                                <div *ngIf="editForm[product.Id] == false">
                                    {{product.ItemDescription}}
                                </div>
                                <div *ngIf="editForm[product.Id] == true && product.Custom == true">
                                    <input type="number" name="productName-{{product.Id}}" class="form-control" [(ngModel)]="editFormName[product.Id]" />
                                </div>                            
                            
                            </td>
                            <td>
                                <div *ngIf="editForm[product.Id] == false">
                                    {{product.Price | number: '1.2-2'}}
                                </div>
                                <div *ngIf="editForm[product.Id] == true">
                                    <input type="number" name="productPrice-{{product.Id}}" class="form-control" [(ngModel)]="editFormPrice[product.Id]" />
                                </div>
                          
                            </td>
                            <td>{{product.TotalPrice | number: '1.2-2'}}</td>
                            <td class="text-center">
                                <div *ngIf="editForm[product.Id] == false">
                                    <button class="btn btn-success btn-sm" (click)="edit(product.Id)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                </div>
                                <div *ngIf="editForm[product.Id] == true">
                                    <button class="btn btn-success btn-sm" [disabled]="editFormQuantity[product.Id] == '' || editFormPrice[product.Id] == '' || editFormName[product.Id] == ''" (click)="updateOrder(product.Id, product.Custom)"><i class="fa fa-check" aria-hidden="true"></i></button>
                                </div>
                            </td>
                            <td class="text-center"><button class="btn btn-danger" (click)="removeProduct(product.Id, product.Custom)"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>

    <!-- Modal for New Standard Product -->
    <div class="modal fade" aria-hidden="true" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add New Standard Product</h4>
                </div>
                <div class="modal-body">
                    <form #standardProductForm="ngForm" novalidate>
                        <div class="form-group">
                            <label for="productCategory">Product Category:</label>
                            <select [(ngModel)]="selectedProductCategory" name="categorySelect" class="form-control" (ngModelChange)="filterProducts()" required>
                                <option *ngFor="let category of resultProductCategories.ResultList" [ngValue]="category.Id">
                                    {{category.Name}}
                                </option>
                            </select>
                          
                        </div>
                        <div class="form-group">
                            <label for="productName">Product:</label>
                            <select [(ngModel)]="selectedProduct" [disabled]="selectedProductCategory == null" name="productSelect" class="form-control" (ngModelChange)="getBestStandardPrice()" required>
                                <option *ngFor="let product of productList" [ngValue]="product">
                                    {{product.Name}}
                                </option>
                            </select>
                           
                        </div>
                        <div class="form-group">
                            <label for="unit">Unit:</label>
                            <select [(ngModel)]="selectedUnit" [disabled]="selectedProductCategory == null" name="unitSelect" class="form-control" required>
                                <option *ngFor="let unit of unitOptions" [ngValue]="unit">
                                    {{unit}}
                                </option>
                            </select>
                           
                        </div>
                        <div class="form-group">
                            <label for="unit">Quantity:</label>
                            <input type="number" [(ngModel)]="productQuantity" [disabled]="selectedProduct == null" class="form-control" name="productQuantity" required/>
                            <small [hidden]="!standardFormErrors.productQuantity">
                                {{standardFormErrors.productQuantity}}
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="unit">Price:</label>
                            <input type="number" [(ngModel)]="productPrice" [disabled]="selectedProduct == null" class="form-control" name="unitPrice" required />
                            <small [hidden]="!standardFormErrors.unitPrice">
                                {{standardFormErrors.unitPrice}}
                            </small>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clearStandardProductFields()">Cancel</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" [disabled]="selectedProductCategory == null || selectedProduct == null || selectedUnit == null || productQuantity == null || productPrice == null" (click)="addStandardProduct()">Add New Product</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal for New Custom Product -->
    <div class="modal fade" id="myModalCustom" aria-hidden="true" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add New Custom Product</h4>
                </div>
                <div class="modal-body">
                    <form #customProductForm="ngForm" novalidate>
                        <div class="form-group">
                            <label for="sel2">Previously Ordered Products:</label>
                            <select size="5" name="historyCustomProducts" [(ngModel)]="selectedCustom" class="form-control" id="sel2" (ngModelChange)="filterPreviousCustomProducts()">
                                <option *ngFor="let historyCustom of resultCustomProducts.ResultList" [ngValue]="historyCustom">
                                    {{historyCustom.ItemDescription}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="productCategory">Product Category:</label>
                            <select [(ngModel)]="customCategory" name="categorySelect" class="form-control" (ngModelChange)="filterProducts()">
                                <option *ngFor="let category of resultProductCategories.ResultList" [ngValue]="category.Name">
                                    {{category.Name}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="productName">Product:</label>
                           <input type="text" [(ngModel)]="customItemDescription" class="form-control" name="customProduct" (ngModelChange)="checkProductName()" />
                            <small [hidden]="!showNameValidation">
                                Product is required.
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="unit">Unit:</label>
                            <select [(ngModel)]="customUnit"  name="customUnit" class="form-control">
                                <option *ngFor="let unit of unitOptions" [ngValue]="unit">
                                    {{unit}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="unit">Quantity:</label>
                            <input type="number" [(ngModel)]="customQuantity"  class="form-control" name="productQuantity" />
                            <small [hidden]="customQuantity">
                                Quantity is required.
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="unit">Price:</label>
                            <input type="number" [(ngModel)]="customPrice" class="form-control" name="unitPrice" (ngModelChange)="checkCustomPrice()" />
                            <small [hidden]="!showPriceValidation">
                                Unit Price is required.
                            </small>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clearCustomProductFields()">Cancel</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" [disabled]="customCategory == null || customItemDescription == null || customItemDescription == '' || customUnit == null || customQuantity == null || customPrice == null" (click)="addCustomProduct()">Add New Product</button>
                </div>
            </div>

        </div>
    </div>
</div>