@{
    ViewBag.Title = "Login - Iclart Web App";
}


<div id="login">
    <div class="panel panel-primary login">
        <div class="panel-heading">Login to ICLART</div>
        <div class="panel-body">
           
            <form id="selector-form" method="post" action="/Account/Login">
                @Html.AntiForgeryToken()
                <label>Email:</label>
                <input type="email" name="Email" class=""  />
                <label>Password:</label>
                <input type="password" name="Password" class="" />

                <input class="btn btn-success" type="submit" value="Login" id="selector-submit" />
            </form>
        </div>
    </div>
</div>